html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  line-height:1rem;
  font-size: 1.1rem; 
  min-height: 100vh; 
  font-family: Verdana, Helvetica, sans-serif;


}

code {
  font-family: source-code-pro, "Oswald", Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
